{% extends layout %}

{% set selector = '#pg-aovivo' %}

{% block main %}

    <div class="page-title">
        <h3 class="title">Jogos Ao Vivo</h3>
    </div>

    <div id="pg-aovivo">
        <div class="container-fluid pt-3">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        {% include 'website/inc/slideshow.twig' with {ref: 'site-slideshow'} %}
                    </div>
                    <div class="live-list" v-if="dadosCarregados">
                        <div v-if="!paises || !paises.length" class="alert alert-info">
                            Nenhum jogo ao vivo no momento.
                        </div>

                        <div v-for="pais in paises" class="mb-4" v-if="pais.campeonatos && pais.campeonatos.length">
                            <div class="d-flex align-items-center mb-2">
                                <img v-bind:src="pais.img" alt="" style="height: 18px; width: auto; margin-right: 8px;">
                                <strong>${pais.title}</strong>
                            </div>
                            <div v-for="campeonato in pais.campeonatos" class="card mb-3">
                                <div class="card-header py-2">
                                    <strong>${campeonato.title}</strong>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-sm mb-0">
                                        <tbody>
                                        <tr v-for="jogo in campeonato.jogos">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="badge badge-danger mr-2">AO VIVO</span>
                                                    <div>
                                                        <div><b>${jogo.casa}</b> x <b>${jogo.fora}</b></div>
                                                        <small class="text-muted">${jogo.data.split('-').reverse().join('/')} ${jogo.hora.replace(/:00$/, '')}</small>
                                                    </div>
                                                </div>
                                            </td>
                                            <td width="1">
                                                <div class="h5 m-0">
                                                    ${(jogo.placar && jogo.placar.casa != null) ? jogo.placar.casa : '-'}
                                                    :
                                                    ${(jogo.placar && jogo.placar.fora != null) ? jogo.placar.fora : '-'}
                                                </div>
                                            </td>
                                            <td width="1" class="text-center">
                                                <div class="btn-cotacao outras"
                                                     title="Outras cotações"
                                                     v-on:click="maisCotacoes(jogo)">
                                                    +${outrosCount(jogo)}
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/axios/dist/axios.js"></script>

    <script type="text/javascript">
        window.appLive = new Vue({
            el: '{{ selector }}',
            delimiters: ['${', '}'],
            created() {
                $('html').addClass('loading');
                axios
                    .get('{{ url("aovivo/jogos") }}')
                    .then(({data}) => {
                        this.paises = data.paises || [];
                        this.grupos = data.grupos || {};
                        this.cotacoes = data.cotacoes || [];
                        this.dadosCarregados = true;
                    })
                    .catch(() => {
                        this.dadosCarregados = true;
                    })
                    .then(() => {
                        $('html').removeClass('loading');
                    });
            },
            data() {
                return {
                    dadosCarregados: false,
                    paises: [],
                    grupos: {},
                    cotacoes: [],
                    tempos: {90: 'Jogo completo', pt: 'Primeiro tempo', st: 'Segundo tempo'},
                    mJogo: { jogo: null, tempo: 90 },
                }
            },
            filters: {
                maskReal(value) {
                    if (!value) {
                        return '0,00';
                    } else {
                        return value.toString().toReal();
                    }
                }
            },
            methods: {
                totalCotacoes(cotacoes) {
                    let total = 0;
                    try {
                        Object.values(cotacoes || {}).forEach((c) => {
                            Object.values(c || {}).forEach((v) => {
                                if (v > 1) total++;
                            });
                        });
                    } catch(e){}
                    return total;
                },
                outrosCount(jogo) {
                    const total = this.totalCotacoes(jogo.cotacoes || {});
                    return total > 0 ? total : '';
                },
                maisCotacoes(jogo) {
                    this.mJogo.jogo = jogo;
                    this.mJogo.tempo = 90;
                    $('#modal-cotacoes-live').modal('show');
                },
            }
        });
    </script>

{% endblock %}

{% block modal %}
    <div id="modal-cotacoes-live" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase">Mais cotações</h5>
                    <div class="close" data-dismiss="modal">&times;</div>
                </div>
                <div class="modal-body p-0">
                    <div class="p-3">
                        <button type="button" class="btn btn-danger btn-sm mr-1"
                                v-bind:class="{active: key == mJogo.tempo || null}"
                                v-for="(tempo, key) in tempos" v-on:click="mJogo.tempo = key">
                            <span class="d-md-block d-none">${tempo}</span>
                            <span class="text-uppercase d-block d-md-none">${key}</span>
                        </button>
                    </div>

                    <table class="table table-minified table-striped table-bordered m-0">
                        <thead>
                        <tr class="bg-danger text-white">
                            <th>Descrição</th>
                            <th width="75">Taxa</th>
                        </tr>
                        </thead>
                    </table>

                    <div class="table-responsive m-0" v-if="mJogo.jogo"
                         style="max-height: calc(100vh - 63px - 63px - 70px); border-radius: 0 0 4px 4px;">

                        <table class="table table-minified table-striped table-bordered table-hover m-0"
                               v-for="(grupo, id) in grupos">
                            <thead>
                            <tr style="background-color: #bbb">
                                <th colspan="2">${grupo}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="c in cotacoes"
                                v-if="c.grupo == id && mJogo.jogo.cotacoes[mJogo.tempo] && mJogo.jogo.cotacoes[mJogo.tempo][c.campo] > 1">
                                <td>${c.title}</td>
                                <td class="text-center py-1 px-2" width="5">
                                    <span class="btn btn-warning btn-cotacao disabled">
                                        ${mJogo.jogo.cotacoes[mJogo.tempo][c.campo]|maskReal}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
